/*Doc*/
html * {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  min-width: 320px;
}

/*Header*/
header {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 2px solid #C2AEAE;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}
#header-logo {
  width: 40px;
  height: 40px;
  justify-self: start;
}
#header-text {
  text-align: right;
  justify-self: end;
}
#my-name {
  font-size: 20px;
  font-weight: 600;
}
#my-job {
  font-size: 16px;
}

/*Main*/
#main {
  margin: 0 20px;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}
.project-card {
  height: 308px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "image image image image"
    "image image image image"
    "image image image image"
    "name name name github";
  align-items: center;
}
.animal-img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  grid-area: image;
}
.project-name {
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  grid-area: name;
  justify-self: center;
}
.github-logo {
  width: 40px;
  height: 40px;
  fill: white;
  grid-area: github;
}
#project-1 {
  background-color: #F72801;
}
#project-2 {
  background-color: #4B3B61;
}
#project-3 {
  background-color: #0D286B;
}
#project-4 {
  background-color: #827738;
}
#project-5 {
  background-color: #8C91B7;
}
#project-6 {
  background-color: #A4CF07;
}
